@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
$blue: #00c2ff;
$green: #00cc00;
$grey: #3d444a;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  // background: rgb(238, 238, 238);

  p,
  blockquote {
    font-size: 0.9em;
    line-height: 1.6em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .hide-mobile {
    display: none;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  figcaption {
    font-weight: bold;
    color: $blue;
  }

  h2 {
    margin-top: 7%;
  }
}

.container {
  text-align: center;
  padding: 0.8em 1.2em;

  header {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 130px;
    }

    .menu {
      width: 25px;
      margin-top: 45%;
    }
  }

  section {
    .server {
      width: 70%;
      margin: 2em auto 2em 25%;
    }

    h1,
    .subhead {
      position: relative;
      z-index: 3;
    }

    .subhead {
      font-size: 1.1em;
    }
  }

  .cta {
    background: $green;
    width: calc(100% - 1em);
    display: block;
    color: white;
    border-radius: 20px;
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 3% auto 7%;
    position: relative;
    z-index: 4;
  }
}

.blue-container {
  width: 100%;
  background: $blue;
  color: white;
  margin-top: 15%;
  padding: 4em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    background: $blue;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
  }

  &::after {
    content: "";
    width: 80px;
    height: 80px;
    background: #fff;
    position: absolute;
    top: -80px;
    right: 0;
    border-radius: 50%;
    z-index: -1;
  }

  .container {
    transform: skewY(2deg);
  }

  ul li {
    margin-bottom: 3em;
    p {
      padding: 0 0.5em;
    }

    &:nth-child(3) img {
      width: 8%;
    }
  }

  img {
    width: 14%;
  }
}

.gray-container {
  background: #f6f6f6;
  padding: 4em 0 2em;
  margin-top: -3%;

  ul li:first-child {
    margin-bottom: 2em;
  }
}

.footer-container {
  width: 100%;
  background: $grey;
  color: #fff;
  padding: 3em 0;
  border-top-right-radius: 40px;
  transform: skewY(2deg);

  .container {
    transform: skewY(-2deg);
  }

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: $grey;
    position: absolute;
    top: -39px;
    left: 0;
    z-index: -2;
  }

  &::after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    z-index: -1;
    top: -80px;
    left: 0;
    border-radius: 50%;
  }

  ul.footer-links {
    margin: 0 auto;

    li {
      display: inline-block;

      a {
        color: #9d9d9d;
        font-size: 0.8em;
      }
    }
  }
}
